<div class="admin-page">
  <h4 class="admin-title">All Rental List
      <button type="button" class="btn btn-info pull-right" [routerLink]="['/admin/rental-type']">Add User</button></h4>

  <div class="table-responsive">
      <table class="table">
          <thead>
              <tr>
                  <th>Title</th>
                  <th>Sort_description</th>
                  <th>Active</th>
                  <th>Action</th>
              </tr>
          </thead>
          <ng-container *ngFor="let rentals of rental">
          <tbody *ngIf="rentals.parent_id==0">
                           
              <tr >

                  <td>{{ rentals.title }}</td>
                  <td>{{ rentals.sort_description }}</td>
                  
                  <td> <input class="form-check-input" [(ngModel)]="rentals.active" type="checkbox"> </td>

                  <td>
                      <button class="btn btn-success btn-sm" type="button" [routerLink]="['/admin/show_rental_type',rentals._id]">VIEW</button>
                      <button class="btn btn-primary btn-sm" type="button" [routerLink]="['/admin/edit_rental_type', rentals._id]">EDIT</button>
                      <button class="btn btn-danger btn-sm" type="button" (click)="deleteRental(rentals._id)">DELETE</button>
                  </td>
              </tr>
              <ng-container *ngFor="let sbrental of rental">
                    <tr *ngIf="rentals._id==sbrental.parent_id">
                            
                        <td> * *{{ sbrental.title }}</td>
                        <td>{{ sbrental.sort_description }}</td>
                                              
                        <td> <input class="form-check-input" [(ngModel)]="sbrental.active" type="checkbox"> </td>
                            
                        <td>
                        <button class="btn btn-success btn-sm" type="button" [routerLink]="['/admin/show_rental_type',sbrental._id]">VIEW</button>
                        <button class="btn btn-primary btn-sm" type="button" [routerLink]="['/admin/edit_rental_type', sbrental._id]">EDIT</button>
                         <button class="btn btn-danger btn-sm" type="button" (click)="deleteRental(sbrental._id)">DELETE</button>
                        </td>

                    </tr>


              </ng-container>
          </tbody>
        </ng-container>
      </table>
  </div>

</div>