<div class="admin-page">
    <h4 class="admin-title">All User List
        <button type="button" class="btn btn-info pull-right" [routerLink]="['/admin/add-user']">Add User</button></h4>

    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Full Name</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th>Approved</th>
                    <th>Registration Date</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody *ngFor="let user of users | OrderbyPipe: '-created_at'">
                <tr>
                    <td>{{ user.firstname }}  {{ user.lastname }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{user.type}}</td>

                    <td>
                        <div *ngIf="user.approved==true"> <img src="assets/images/checked.png" height="20" width="20" alt="checked"></div>
                        <div *ngIf="user.approved!=true"><img src="assets/images/deniend.png"  height="20" width="20" alt="unchecked"></div>
                    </td>
                    <td>{{user.created_at | date}}</td>
                    <td>
                        <button class="btn btn-success btn-sm" type="button" [routerLink]="['/admin/view-user', user._id]">VIEW</button>
                        <button class="btn btn-primary btn-sm" type="button" [routerLink]="['/admin/edit-user', user._id]">EDIT</button>
                        <button class="btn btn-danger btn-sm" type="button" (click)="deleteUser(user._id)">DELETE</button>
                    </td>
                </tr>
            </tbody>
            <div class=" view-btn ">
                <button class="btn btn-primary" (click)="loadMore()">View More</button>
            </div>
        </table>
    </div>

</div>