  <div class='chat_box'>

    <div class="chat_detail_bar ">

        <div class="button_outer">
            <a href="#" class="back_btn"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
        </div>
        <div class="image_outer">
                <figure class="user_image_box">
                        <div *ngIf="user_senderid !=userid"> 
                                <div *ngFor="let user of users">
                                        <div *ngIf="user._id==user_senderid">
                        <img class='user_image chat-image-default' src="/images/{{user.photo}}" alt="no image"/>
                    </div>
                </div>
                </div> 
                <div *ngIf="user_recieverid !=userid"> 
                        <div *ngFor="let user of users">
                            <div *ngIf="user._id==user_recieverid">
                <img class='user_image chat-image-default' src="/images/{{user.photo}}" alt="no image" />
            </div>
        </div>
        </div> 

                   </figure>
        </div>

        <div class="name_outer">
               
                <div *ngIf="user_senderid !=userid"> 
                        <div *ngFor="let user of users">
                                <div *ngIf="user._id==user_senderid">
            <h4 class="user_name">{{user.firstname}}</h4>
             
           <!-- {{listnerusers.firstname}}-->
        </div>
        </div>
        </div>  
        <div *ngIf="user_recieverid !=userid"> 
                <div *ngFor="let user of users">
                    <div *ngIf="user._id==user_recieverid">
    <h4 class="user_name">{{user.firstname}}</h4>
     
   <!-- {{listnerusers.firstname}}-->
</div>
</div>
</div>      
        </div>
        
        <div class="detail_outer" *ngFor="let trailerDetail of trailerDetails">
            <div class="trailer_detail">
                <p> Trailer Type : <span> {{trailerDetail.rv_type}}</span> </p>
                <p>price: <span>$ {{trailerDetail.pricing_high_rate_hour}}</span></p>
            </div>
        </div>

    </div>

    <div class='chat_outer' #scrollMe [scrollTop]="scrollMe.scrollHeight" *ngIf="allMessages.length > 0">
        <div *ngIf="user_senderid !=userid">
            <div class='chat_message chat_recipient' >
                    <figure class="chat_image_box">
                        <div *ngFor="let user of users">
                        <div *ngIf="user_senderid==user._id">
                         <img class='chat_image chat-image-default' src="/images/{{user.photo}}" alt="no image" />
                        </div>
                        </div>
                    </figure>
            
                    <div class='message_wrapper' >
                      <div class='message_content' >
                       <!-- <p>{{allMessage.sendername}}</p>-->
                        <p> {{messageDetails.message}} </p>
                      </div>         
                    </div>
                  </div>
                </div>

                <div *ngIf="user_senderid ==userid">
                        <div class='chat_message chat_sender'>
                                <figure class="chat_image_box">
                                        <div *ngFor="let user of users">
                                                <div *ngIf="user_senderid==user._id">
                                     <img class='chat_image chat-image-default' src="/images/{{user.photo}}" alt="no image" />
                                     </div>
                                     </div>
                                </figure>
                        
                                <div class='message_wrapper'>
                                    <div class='message_content'>
                                        <!-- <p>{{allMessage.sendername}}</p> -->
                                        <p> {{messageDetails.message}}</p>
                                    </div>       
                                </div>
                    
                              </div>

                </div>
               

        <div  *ngFor="let allMessage of allMessages">
            <div *ngIf="allMessage.sender_id != userid">
      <div class='chat_message chat_recipient' >
        <figure class="chat_image_box">
            <div *ngFor="let user of users">
            <div *ngIf="allMessage.sender_id==user._id">
             <img class='chat_image chat-image-default' src="/images/{{user.photo}}" alt="no image" />
            </div>
            </div>
        </figure>

        <div class='message_wrapper' >
          <div class='message_content' >
           <!-- <p>{{allMessage.sendername}}</p>-->
            <p> {{allMessage.message}} </p>
          </div>         
        </div>
      </div>
    </div>
    <div *ngIf="allMessage.sender_id == userid">
      <div class='chat_message chat_sender'>
            <figure class="chat_image_box">
                    <div *ngFor="let user of users">
                            <div *ngIf="allMessage.sender_id==user._id">
                 <img class='chat_image chat-image-default' src="/images/{{user.photo}}" alt="no image" />
                 </div>
                 </div>
            </figure>
    
            <div class='message_wrapper'>
                <div class='message_content'>
                    <!-- <p>{{allMessage.sendername}}</p> -->
                    <p> {{allMessage.message}}</p>
                </div>       
            </div>

          </div>

        </div>

          
          

        </div>
  


    </div>
    
    <div class="enter_message">
        <form #f="ngForm" (ngSubmit)="onSubmit(f)">
        <input type="text" class="message_input" ngModel name="message" id="message" required placeholder="Your Message here..."/>
           <!-- <input type="text" class="message_input" placeholder="Enter your message.."/> -->
           <!-- <a href="#" class="send">Send</a>-->
            <button type=submit [disabled]="!f.valid" class="send" >Send</button>
        </form>
          </div>
        

  </div>