  <div class='chat_box'>

    <div class="chat_detail_bar ">

        <div class="button_outer">
            <a href="#" class="back_btn"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
        </div>
        <div class="image_outer">
                <figure class="user_image_box">
                        <img class='user_image chat-image-default' src="assets/images/avatar.png" />
                   </figure>
        </div>

        <div class="name_outer">
            <h4 class="user_name">{{allMessage.sendername}}</h4>
        </div>
        
        <div class="detail_outer " *ngFor="let trailerDetail of trailerDetails">
            <div class="trailer_detail">
                <p> Trailer Type : <span> {{trailerDetail.rv_type}}</span> </p>
                <p>price: <span>$ {{trailerDetail.pricing_high_rate_hour}}</span></p>
            </div>
        </div>

    </div>

    <div class='chat_outer '>

      <div class='chat_message chat_recipient'>
        <figure class="chat_image_box">
             <img class='chat_image chat-image-default' src="assets/images/avatar.png" />
        </figure>

        <div class='message_wrapper'>
          <div class='message_content'>
            <p>It is a long established fact that</p>
            <p> a reader will be distracted by the readable content of a page when looking at its layout.</p>
            <p> a reader will be distracted by the readable content of a page when looking at its layout.</p>
          </div>         
        </div>
      </div>


      <div class='chat_message chat_sender'>
            <figure class="chat_image_box">
                 <img class='chat_image chat-image-default' src="assets/images/avatar.png" />
            </figure>
    
            <div class='message_wrapper'>
                <div class='message_content'>
                    <p>Sushi tonight?</p>
                    <p> The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,</p>
                </div>       
            </div>

          </div>

          <div class='chat_message chat_recipient'>
                <figure class="chat_image_box">
                     <img class='chat_image chat-image-default' src="assets/images/avatar.png" />
                </figure>
        
                <div class='message_wrapper'>
                  <div class='message_content'>
                    <p> as opposed to using</p>
                    <p> 'Content here, content here', making it look like readable English. </p>
                  </div>         
                </div>
              </div>
        
        
              <div class='chat_message chat_sender'>
                    <figure class="chat_image_box">
                         <img class='chat_image chat-image-default' src="assets/images/avatar.png" />
                    </figure>
            
                    <div class='message_wrapper'>
                        <div class='message_content'>
                            <p>Sushi tonight?</p>
                            <p>ahsdgahds ahgsdh adsyguahsd asd </p>
                        </div>       
                    </div>
        
                  </div>

                  <div class='chat_message chat_recipient'>
                        <figure class="chat_image_box">
                             <img class='chat_image chat-image-default' src="assets/images/avatar.png" />
                        </figure>
                
                        <div class='message_wrapper'>
                          <div class='message_content'>
                            <p>Sushi tonight?</p>
                          </div>         
                        </div>
                      </div>
                
                
                      <div class='chat_message chat_sender'>
                            <figure class="chat_image_box">
                                 <img class='chat_image chat-image-default' src="assets/images/avatar.png" />
                            </figure>
                    
                            <div class='message_wrapper'>
                                <div class='message_content'>
                                    <p>Sushi tonight?</p>
                                    <p>ahsdgahds ahgsdh adsyguahsd asd </p>
                                </div>       
                            </div>
                
                          </div>



                          <div class='chat_message chat_recipient'>
                                <figure class="chat_image_box">
                                     <img class='chat_image chat-image-default' src="assets/images/avatar.png" />
                                </figure>
                        
                                <div class='message_wrapper'>
                                  <div class='message_content'>
                                    <p>It is a long established fact that</p>
                                    <p> a reader will be distracted by the readable content of a page when looking at its layout.</p>
                                    <p> a reader will be distracted by the readable content of a page when looking at its layout.</p>
                                  </div>         
                                </div>
                              </div>
                        
                        
                              <div class='chat_message chat_sender'>
                                    <figure class="chat_image_box">
                                         <img class='chat_image chat-image-default' src="assets/images/avatar.png" />
                                    </figure>
                            
                                    <div class='message_wrapper'>
                                        <div class='message_content'>
                                            <p>Sushi tonight?</p>
                                            <p> The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,</p>
                                        </div>       
                                    </div>
                        
                                  </div>
                        
                                  <div class='chat_message chat_recipient'>
                                        <figure class="chat_image_box">
                                             <img class='chat_image chat-image-default' src="assets/images/avatar.png" />
                                        </figure>
                                
                                        <div class='message_wrapper'>
                                          <div class='message_content'>
                                            <p> as opposed to using</p>
                                            <p> 'Content here, content here', making it look like readable English. </p>
                                          </div>         
                                        </div>
                                      </div>
                                
                                
                                      <div class='chat_message chat_sender'>
                                            <figure class="chat_image_box">
                                                 <img class='chat_image chat-image-default' src="assets/images/avatar.png" />
                                            </figure>
                                    
                                            <div class='message_wrapper'>
                                                <div class='message_content'>
                                                    <p>Sushi tonight?</p>
                                                    <p>ahsdgahds ahgsdh adsyguahsd asd </p>
                                                </div>       
                                            </div>
                                
                                          </div>
                        
                                          <div class='chat_message chat_recipient'>
                                                <figure class="chat_image_box">
                                                     <img class='chat_image chat-image-default' src="assets/images/avatar.png" />
                                                </figure>
                                        
                                                <div class='message_wrapper'>
                                                  <div class='message_content'>
                                                    <p>Sushi tonight?</p>
                                                  </div>         
                                                </div>
                                              </div>
                                        
                                        
                                              <div class='chat_message chat_sender'>
                                                    <figure class="chat_image_box">
                                                         <img class='chat_image chat-image-default' src="assets/images/avatar.png" />
                                                    </figure>
                                            
                                                    <div class='message_wrapper'>
                                                        <div class='message_content'>
                                                            <p>Sushi tonight?</p>
                                                            <p>ahsdgahds ahgsdh adsyguahsd asd </p>
                                                            <p>ahsdgahds ahgsdh adsyguahsd asd ahsdgahds ahgsdh adsyguahsd asd ahsdgahds ahgsdh adsyguahsd asd ahsdgahds ahgsdh adsyguahsd asd ahsdgahds ahgsdh adsyguahsd asd ahsdgahds ahgsdh adsyguahsd asd ahsdgahds ahgsdh adsyguahsd asd ahsdgahds ahgsdh adsyguahsd asd ahsdgahds ahgsdh adsyguahsd asd ahsdgahds ahgsdh adsyguahsd asd </p>
                                                        </div>       
                                                    </div>
                                        
                                                  </div>
          


  


    </div>

    <div class="enter_message">
            <input type="text" class="message_input" placeholder="Enter your message.."/>
            <a href="#" class="send">Send</a>
          </div>

  </div>