@import '../../style/style';


.brand-slider{
    padding: 50px 0px;
    background: $white-color;

    .item{
        padding: 20px;
        text-align: center;
        img{
            width: 80%;
            margin: 0px auto;

        }
    }
}