<div class="admin-page">
  <h4 class="admin-title">Edit Rental Detail</h4>

  <form (ngSubmit)="updateRental(rental._id)" [formGroup]="rForm">
        <div class="form-group row" *ngIf="rental.rental_type!=0">
                <label for="inputEmail3" class="col-sm-2 col-form-label">Rental Type </label>
                <div class="col-sm-10">
                        <select id="inputState" class="form-control" formControlName="rental_type"   id="rental_type" placeholder="rental_type"> 
                                <option value="0">Rental Type</option>
                                <ng-container *ngFor="let rentaltype of rentals">
                                        <option *ngIf="rentaltype.rental_type==0"  value="{{rentaltype._id}}" >{{rentaltype.type_of_rv}}</option>
                                      </ng-container>
                                   
               
                                 </select>
                </div>
            </div>
    

      <div class="form-group row">
          <label *ngIf="rental.rental_type==0" for="inputEmail3" class="col-sm-2 col-form-label">Rental_type</label>
          <label *ngIf="rental.rental_type!=0" for="inputEmail3" class="col-sm-2 col-form-label">Type of rv</label>
          <div class="col-sm-10">
              <input type="text" class="form-control" [(ngModel)]="rental.type_of_rv" formControlName="type_of_rv" name="type_of_rv">
          </div>
      </div>
      <div class="form-group row">
          <label for="inputEmail3" class="col-sm-2 col-form-label">Sort Description</label>
          <div class="col-sm-10">
              <input type="text" class="form-control" [(ngModel)]="rental.sort_description" formControlName="sort_description" id="sort_description">
          </div>
      </div>
      <div class="form-group row">
          <label for="inputEmail3" class="col-sm-2 col-form-label">Icon</label>
          <div class="col-sm-10">
              <input type="text" class="form-control" [(ngModel)]="rental.icon" formControlName="icon" id="icon">
          </div>
      </div>
      
      
      <div class="form-group row">
          <label for="inputPassword3" class="col-sm-2 col-form-label">Active</label>
          <div class="col-sm-10">
              <label class="form-check-label">
                <input class="form-check-input" [(ngModel)]="rental.active" formControlName="active"  type="checkbox">
              </label>
          </div>
      </div>

      <div class="form-group">
          <div class=" text-center">
              <button type="submit" [disabled]="!rForm.valid" class="btn btn-primary">Edit User</button>
              <button type="cancel" [routerLink]="['/admin/view_rental-type']" class="btn btn-danger">Cancel</button>
          </div>
      </div>
  </form>

</div>